*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior:smooth;
}

.App {
  display:flex;
  width:100vw;
  height: 100vh;
  position:relative;
  box-sizing: border-box;
}

.leftsection{
  width: 25vw;
  height: 100%;
  position: fixed;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navbtn{
  width: 80%;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  margin:5px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transition: all .2s;
}
.navbtn a:hover{
  font-size: 23px;
  cursor: pointer;
}
.navbtn a{
  text-decoration: none;
  color: inherit; 
}
.verticalline{
  width: 4vw;
  height: 100%;
  background-color: red;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.arrowbox{
  width: 40px;
  height: 40px;
  background-color: black;
  margin: 10px auto;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 7px 0px;
}

.vline{
  height: 90%;
  position: absolute;
  bottom: 0px;
  width: 10px;
  position: absolute;
  background-color:  black;
}

.rightsection{
  background-color: violet;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 71vw;
  overflow-y: auto;
  height: 100%;
}

.full{
  transition: all 1s;
  transform: translateX(-25vw);
}
.half{
  transition: all 1s;
  transform: translateX(0);
}
.goleft{
  transition: all 1s;
  transform: translateX(0px);
}
.goright{
  transition: all 1s;
  transform: translateX(25vw);
}
.rhalf{
  width:71vw;  
  transition: all 1s;
  transform: translateX(29vw);
}
.rfull{
  width: 96vw;
  transition: all 1s;
  transform: translateX(4vw);
}

.contentbox{
  position: relative;
  margin:3% 0px;
  width: 90%;
  height:fit-content;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
}

.contentbox h1{
  background-color: greenyellow;
  margin:15px 0px;
  height: 50px;
  text-align: center;
  font-size: 3em;
}

.col2 h2{
  width: 100%;
  height: fit-content;
  text-align: center;
  border:1px solid black;
  font-size: 50px;
  font-weight: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.col2 .description{
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  font-size: 22px;
  font-weight: 30px;
}
.col2 .hline{
  
}
.hline{
  font-family:'Times New Roman', Times, serif;
  width: 100px;
  height: 5px;
  background-color: black;
  margin: 10px auto;
  margin-bottom: 50px;
}
.window{
  width: 100%;
  min-height: 80%;
  height: fit-content;
  display: flex;
  border:2px solid red;
}
.imgboxlayer{
  width:80%;
  padding:5%;
  border: 15px solid black;
  box-shadow: 25px 25px 10px #ffe602, -25px -25px 10px #ffe602;
}
.about{
  min-height:80%;
  display: flex;
  align-items: center;
}


.col1{
  display: grid;
  place-items:center;
  width: 40%;
  background-color: brown;
}
.col2{
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}
.imgbox{
  width:100%;
  height:100%;
  border: 1px solid black;
}

.details{
  display: flex;
  margin:10px auto;
}

.detailbox{
  flex:1;
}

.education .detailimg{
  background: url("/src/pictures/boys-studying-online-unscreen.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.experience .detailimg{
  background: url("/src/pictures/rating-work-experience-unscreen.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.row h3,h4{
  margin-bottom:10px;
}
.detailimg{ 
  flex:1;
  box-sizing: border-box;
}

.details .row{
  width:80%;
  min-height:120px;
  max-height: fit-content;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.details .exrow{
  width:80%;
  min-height:120px;
  max-height: fit-content;
  margin: 20px auto;
  padding: 20px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.details h3{
  font-size: 24px;
}
.details h3{
  font-size: 20px;
}


.skillposter{
  width:100px;
  height:130px;
  padding:15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.skillimg{
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.skillimg:hover{
  transition: all 1s;
  transform: translateY(-5px) scale(1.2);
}
.skillbox{
  width: 80%;
  margin: 0px auto;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  justify-content: center;
}
.skillname{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px; 
  height: 5px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffe602; 
  border-radius: 5px;
}